<div class="row">
      <div class="movie_index">
        <h2 class="midashi_txt brown_txt bold">映画一覧 <span class="txts">全<%= Movie.all.count %>件</span></h2>
          <% movies.each do |movie| %>
            <div class="col-sm-4 col">
              <div class="box 1">
                <h4><%= movie.title %></h4>
  	             <%= link_to(movie_path(movie)) do %>
  	           　<% if movie.image.attached? %>
  			         <p><%= image_tag movie.image.variant(resize: '200x200') %></p>
  		          <% end %>
                <% end %>
                  <p>ジャンル：<%= movie.category.name %></p><br>
                  <p>コメント<%= movie.movie_comments.count %>件</p><br>
                  <p>いいね<%= movie.favorites.count %>件</p>
              </div>
            </div>
        <% end %>
  </div>
</div>
