<div class="movie_comments">
    <% movie.movie_comments.each do |movie_comment| %>
      <div class="comment-body bb">
        <div class="comment-text">
          <h4 class="mb-3">評価：<%= movie_comment.rate %>点</h4>
            <div id="star-rate-<%= movie_comment.id %>"></div>
              <script>
              $('#star-rate-<%= movie_comment.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= movie_comment.rate %>,
              });
              </script>
                <div class="posts-movie">
                  <img src="<%= movie_comment.movie.image %>" alt="">
              <span class="comment-meta">
                <span class="comment-spoiler clearfix">
                  <% if movie_comment.spoiler == true %>
                    <span style="color:red">ネタバレを含む</span>
              　　 <% else %>
                    <span style="color:blue">ネタバレを含まない</span>
            　　   <% end %>
                </span>
                <span class="comment-author clearfix">
                  投稿者：<%= movie_comment.user.name %>
                </span>
                <span class="comment-date"><%= movie_comment.created_at.strftime('%Y/%m/%d') %>
                </span>
              </span>
          </div>
            <div class="comment-entry"><%= movie_comment.comment %></div>
              <% if movie_comment.user == current_user%>
                <div>
                  <%= link_to "削除", movie_movie_comment_path(movie_comment.movie, movie_comment), method: :delete, class: "btn btn-danger pull-right" %>
                </div>
              <% end %>
    <% end %>
    </div>